@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font: 'Microsoft YaHei';
}

html ul li,
body ul li {
  list-style: none;
}

* {
  padding: 0px;
  margin: 0px;
}

/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
